In [3]:
import pandas as pd

In [4]:
raw_courses = pd.read_csv('raw/gened-dataset.csv')

In [6]:
recent_courses = raw_courses[raw_courses['TermYear'] == '2019-fa']
recent_courses

,Year,Term,TermYear,Course,Course Title,ACP,CS,HUM,NAT,QR,SBS
0,2019,Fall,2019-fa,AAS 100,Intro Asian American Studies,NaN,US,NaN,NaN,NaN,SS
1,2019,Fall,2019-fa,AAS 105,Introduction to Arab American Studies,NaN,US,NaN,NaN,NaN,NaN
2,2019,Fall,2019-fa,AAS 120,Intro to Asian Am Pop Culture,NaN,US,NaN,NaN,NaN,NaN
3,2019,Fall,2019-fa,AAS 200,U.S. Race and Empire,NaN,US,HP,NaN,NaN,NaN
4,2019,Fall,2019-fa,AAS 201,US Racial & Ethnic Politics,NaN,US,NaN,NaN,NaN,SS
...,...,...,...,...,...,...,...,...,...,...,...
1017,2019,Fall,2019-fa,UP 312,Communication for Planners,ACP,NaN,NaN,NaN,NaN,NaN
1018,2019,Fall,2019-fa,UP 316,Urban Informatics II,NaN,NaN,NaN,NaN,QR2,NaN
1019,2019,Fall,2019-fa,WRIT 303,Writing Across Media,ACP,NaN,NaN,NaN,NaN,NaN
1020,2019,Fall,2019-fa,YDSH 220,Jewish Storytelling,NaN,WCC,LA,NaN,NaN,NaN
1021,2019,Fall,2019-fa,YDSH 320,Lit Responses to the Holocaust,NaN,WCC,LA,NaN,NaN,NaN

In [7]:
split_courses = recent_courses.copy()

In [15]:
# Reformat to schema
split_courses['Subject Code'] = split_courses['Course'].str.split(expand=True)[0]
split_courses['Number'] = split_courses['Course'].str.split(expand=True)[1]
split_courses.rename({'Course Title': 'Name'})

,Year,Term,TermYear,Course,Course Title,ACP,CS,HUM,NAT,QR,SBS,Subject Code,Number
0,2019,Fall,2019-fa,AAS 100,Intro Asian American Studies,NaN,US,NaN,NaN,NaN,SS,AAS,100
1,2019,Fall,2019-fa,AAS 105,Introduction to Arab American Studies,NaN,US,NaN,NaN,NaN,NaN,AAS,105
2,2019,Fall,2019-fa,AAS 120,Intro to Asian Am Pop Culture,NaN,US,NaN,NaN,NaN,NaN,AAS,120
3,2019,Fall,2019-fa,AAS 200,U.S. Race and Empire,NaN,US,HP,NaN,NaN,NaN,AAS,200
4,2019,Fall,2019-fa,AAS 201,US Racial & Ethnic Politics,NaN,US,NaN,NaN,NaN,SS,AAS,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,2019,Fall,2019-fa,UP 312,Communication for Planners,ACP,NaN,NaN,NaN,NaN,NaN,UP,312
1018,2019,Fall,2019-fa,UP 316,Urban Informatics II,NaN,NaN,NaN,NaN,QR2,NaN,UP,316
1019,2019,Fall,2019-fa,WRIT 303,Writing Across Media,ACP,NaN,NaN,NaN,NaN,NaN,WRIT,303
1020,2019,Fall,2019-fa,YDSH 220,Jewish Storytelling,NaN,WCC,LA,NaN,NaN,NaN,YDSH,220
1021,2019,Fall,2019-fa,YDSH 320,Lit Responses to the Holocaust,NaN,WCC,LA,NaN,NaN,NaN,YDSH,320

In [16]:
split_courses

,Year,Term,TermYear,Course,Course Title,ACP,CS,HUM,NAT,QR,SBS,Subject Code,Number
0,2019,Fall,2019-fa,AAS 100,Intro Asian American Studies,NaN,US,NaN,NaN,NaN,SS,AAS,100
1,2019,Fall,2019-fa,AAS 105,Introduction to Arab American Studies,NaN,US,NaN,NaN,NaN,NaN,AAS,105
2,2019,Fall,2019-fa,AAS 120,Intro to Asian Am Pop Culture,NaN,US,NaN,NaN,NaN,NaN,AAS,120
3,2019,Fall,2019-fa,AAS 200,U.S. Race and Empire,NaN,US,HP,NaN,NaN,NaN,AAS,200
4,2019,Fall,2019-fa,AAS 201,US Racial & Ethnic Politics,NaN,US,NaN,NaN,NaN,SS,AAS,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,2019,Fall,2019-fa,UP 312,Communication for Planners,ACP,NaN,NaN,NaN,NaN,NaN,UP,312
1018,2019,Fall,2019-fa,UP 316,Urban Informatics II,NaN,NaN,NaN,NaN,QR2,NaN,UP,316
1019,2019,Fall,2019-fa,WRIT 303,Writing Across Media,ACP,NaN,NaN,NaN,NaN,NaN,WRIT,303
1020,2019,Fall,2019-fa,YDSH 220,Jewish Storytelling,NaN,WCC,LA,NaN,NaN,NaN,YDSH,220
1021,2019,Fall,2019-fa,YDSH 320,Lit Responses to the Holocaust,NaN,WCC,LA,NaN,NaN,NaN,YDSH,320

In [44]:
cols = ['Subject Code', 'Number', 'Abbreviation']

In [45]:
def convert(col_name):
    return split_courses[split_courses[col_name].notnull()].reset_index().rename(columns={col_name: 'Abbreviation'})[cols]

acp = convert('ACP')
cs = convert('CS')
hum = convert('HUM')
nat = convert('NAT')
qr = convert('QR')
sbs = convert('SBS')

In [48]:
print(len(acp))
print(len(cs))
print(len(hum))
print(len(nat))
print(len(qr))
print(len(sbs))

145
530
485
91
76
192

In [49]:
fulfills = pd.concat([acp, cs, hum, nat, qr, sbs])
fulfills

    Subject Code Number Abbreviation
0            AAS    300          ACP
1            AAS    310          ACP
2            AAS    370          ACP
3            AAS    402          ACP
4            ABE    469          ACP
..           ...    ...          ...
187         SPED    322          BSC
188           UP    136           SS
189           UP    185           SS
190           UP    210           SS
191           UP    260           SS

[1519 rows x 3 columns]

In [50]:
fulfills.to_csv('processed/fulfills.csv')

In [123]:
raw_gpa_courses = pd.read_csv('raw/uiuc-gpa-dataset.csv')
raw_gpa_courses = raw_gpa_courses.drop(columns=['YearTerm', 'Sched Type'])
curr_raw_gpa_courses = raw_gpa_courses[(raw_gpa_courses['Year'] == 2021) & (raw_gpa_courses['Term'] == 'Spring') & raw_gpa_courses['Primary Instructor'].notnull()].reset_index().drop(columns=['index'])
curr_raw_gpa_courses

,Year,Term,Subject,Number,Course Title,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2021,Spring,AAS,100,Intro Asian American Studies,14,9,0,2,2,0,0,0,1,1,0,1,0,0,"Boonsripaisal, Simon"
1,2021,Spring,AAS,100,Intro Asian American Studies,12,8,1,2,0,2,0,1,0,0,0,0,3,0,"Boonsripaisal, Simon"
2,2021,Spring,AAS,100,Intro Asian American Studies,0,13,8,1,3,0,1,0,0,0,1,0,1,0,"Guruparan, Akil"
3,2021,Spring,AAS,100,Intro Asian American Studies,0,11,8,2,3,1,0,0,0,0,0,0,1,0,"Guruparan, Akil"
4,2021,Spring,AAS,100,Intro Asian American Studies,1,8,5,4,1,1,0,0,1,0,0,0,2,0,"Kang, Yoonjung"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2141,2021,Spring,UP,504,Urban History and Theory,11,10,3,4,1,0,0,1,0,0,0,0,0,0,"Novoa Echaurren, Magdalen"
2142,2021,Spring,VM,603,Structure and Function II,0,41,0,0,56,0,0,30,0,0,6,0,0,0,"Ko, CheMyong"
2143,2021,Spring,VM,604,Structure and Function III,0,39,0,0,53,0,0,31,0,0,9,0,1,0,"Foreman, Jonathan H"
2144,2021,Spring,VM,608,Pathobiology III,0,16,0,0,50,0,0,53,0,0,8,0,1,0,"Barger, Anne M"
2145,2021,Spring,VM,611,Medicine and Surgery III,0,15,0,0,58,0,0,49,0,0,6,0,0,0,"Fan, Timothy M"

In [60]:
raw_course_offerings = pd.read_csv('raw/course-explorer/2021-sp.csv')
raw_course_offerings

,Year,Term,YearTerm,Subject,Number,Name,Description,Credit Hours,Section Info,Degree Attributes,...,Section Status,Enrollment Status,Type,Type Code,Start Time,End Time,Days of Week,Room,Building,Instructors
0,2021,Spring,2021-sp,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,NaN,"Social & Beh Sci - Soc Sci, and Cultural Studi...",...,A,Closed,Online Discussion,OD,09:00 AM,09:50 AM,F,NaN,NaN,"Boonsripaisal, S"
1,2021,Spring,2021-sp,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,NaN,"Social & Beh Sci - Soc Sci, and Cultural Studi...",...,A,Open,Online Discussion,OD,10:00 AM,10:50 AM,F,NaN,NaN,"Boonsripaisal, S"
2,2021,Spring,2021-sp,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,NaN,"Social & Beh Sci - Soc Sci, and Cultural Studi...",...,A,Open,Online Discussion,OD,10:00 AM,10:50 AM,F,NaN,NaN,"Guruparan, A"
3,2021,Spring,2021-sp,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,NaN,"Social & Beh Sci - Soc Sci, and Cultural Studi...",...,A,Open,Online Discussion,OD,11:00 AM,11:50 AM,F,NaN,NaN,"Guruparan, A"
4,2021,Spring,2021-sp,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,NaN,"Social & Beh Sci - Soc Sci, and Cultural Studi...",...,A,Open,Online Discussion,OD,11:00 AM,11:50 AM,F,NaN,NaN,"Kang, Y"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11810,2021,Spring,2021-sp,WRIT,303,Writing Across Media,Same as INFO 303. See INFO 303.,3 hours.,Same as INFO 303. See INFO 303.,Advanced Composition course.,...,A,Closed,Online Lecture,OLC,11:00 AM,12:15 PM,TR,NaN,NaN,"McMahon, F"
11811,2021,Spring,2021-sp,WRIT,303,Writing Across Media,Same as INFO 303. See INFO 303.,3 hours.,Same as INFO 303. See INFO 303.,Advanced Composition course.,...,A,Closed,Online Lecture,OLC,12:30 PM,01:45 PM,TR,NaN,NaN,"Owens, L"
11812,2021,Spring,2021-sp,WRIT,303,Writing Across Media,Same as INFO 303. See INFO 303.,3 hours.,Same as INFO 303. See INFO 303.,Advanced Composition course.,...,A,CrossListOpen,Online Lecture,OLC,02:00 PM,03:15 PM,TR,NaN,NaN,"Bowman, A"
11813,2021,Spring,2021-sp,YDSH,104,Intermediate Yiddish II,Continuation of YDSH 103. Prerequisite: YDSH 1...,4 hours.,Prerequisite: YDSH 103 or equivalent placement...,NaN,...,A,Open,Online,ONL,03:00 PM,04:50 PM,T,NaN,NaN,"Butler, D"
11814,2021,Spring,2021-sp,YDSH,104,Intermediate Yiddish II,Continuation of YDSH 103. Prerequisite: YDSH 1...,4 hours.,Prerequisite: YDSH 103 or equivalent placement...,NaN,...,A,Open,Online,ONL,04:00 PM,04:50 PM,M,NaN,NaN,"Butler, D"

In [74]:
# Get all course offerings with an instructor, and only get the first one
filtered_offerings = raw_course_offerings[raw_course_offerings['Instructors'].notnull()]
attrs = ['Year', 'Term', 'Subject', 'Number', 'Name', 'Description', 'Credit Hours', 'Start Time', 'End Time', 'Days of Week', 'Room', 'Building', 'Instructors']
filtered_offerings[attrs]

,Year,Term,Subject,Number,Name,Description,Credit Hours,Start Time,End Time,Days of Week,Room,Building,Instructors
0,2021,Spring,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,09:00 AM,09:50 AM,F,NaN,NaN,"Boonsripaisal, S"
1,2021,Spring,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,10:00 AM,10:50 AM,F,NaN,NaN,"Boonsripaisal, S"
2,2021,Spring,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,10:00 AM,10:50 AM,F,NaN,NaN,"Guruparan, A"
3,2021,Spring,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,11:00 AM,11:50 AM,F,NaN,NaN,"Guruparan, A"
4,2021,Spring,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,11:00 AM,11:50 AM,F,NaN,NaN,"Kang, Y"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11810,2021,Spring,WRIT,303,Writing Across Media,Same as INFO 303. See INFO 303.,3 hours.,11:00 AM,12:15 PM,TR,NaN,NaN,"McMahon, F"
11811,2021,Spring,WRIT,303,Writing Across Media,Same as INFO 303. See INFO 303.,3 hours.,12:30 PM,01:45 PM,TR,NaN,NaN,"Owens, L"
11812,2021,Spring,WRIT,303,Writing Across Media,Same as INFO 303. See INFO 303.,3 hours.,02:00 PM,03:15 PM,TR,NaN,NaN,"Bowman, A"
11813,2021,Spring,YDSH,104,Intermediate Yiddish II,Continuation of YDSH 103. Prerequisite: YDSH 1...,4 hours.,03:00 PM,04:50 PM,T,NaN,NaN,"Butler, D"
11814,2021,Spring,YDSH,104,Intermediate Yiddish II,Continuation of YDSH 103. Prerequisite: YDSH 1...,4 hours.,04:00 PM,04:50 PM,M,NaN,NaN,"Butler, D"

In [124]:
# Only get offerings that appear in the gpa dataset
curr_raw_gpa_courses['CRN'] = ['hi'] * len(curr_raw_gpa_courses)
curr_raw_gpa_courses['Description'] = ['hi'] * len(curr_raw_gpa_courses)
curr_raw_gpa_courses['Section'] = ['hi'] * len(curr_raw_gpa_courses)
curr_raw_gpa_courses['Start Time'] = ['hi'] * len(curr_raw_gpa_courses)
curr_raw_gpa_courses['End Time'] = ['hi'] * len(curr_raw_gpa_courses)
curr_raw_gpa_courses['Days of Week'] = ['hi'] * len(curr_raw_gpa_courses)
curr_raw_gpa_courses['Room'] = ['hi'] * len(curr_raw_gpa_courses)
curr_raw_gpa_courses['Building'] = ['hi'] * len(curr_raw_gpa_courses)
curr_raw_gpa_courses

,Year,Term,Subject,Number,Course Title,A+,A,A-,B+,B,...,W,Primary Instructor,CRN,Description,Section,Start Time,End Time,Days of Week,Room,Building
0,2021,Spring,AAS,100,Intro Asian American Studies,14,9,0,2,2,...,0,"Boonsripaisal, Simon",hi,hi,hi,hi,hi,hi,hi,hi
1,2021,Spring,AAS,100,Intro Asian American Studies,12,8,1,2,0,...,0,"Boonsripaisal, Simon",hi,hi,hi,hi,hi,hi,hi,hi
2,2021,Spring,AAS,100,Intro Asian American Studies,0,13,8,1,3,...,0,"Guruparan, Akil",hi,hi,hi,hi,hi,hi,hi,hi
3,2021,Spring,AAS,100,Intro Asian American Studies,0,11,8,2,3,...,0,"Guruparan, Akil",hi,hi,hi,hi,hi,hi,hi,hi
4,2021,Spring,AAS,100,Intro Asian American Studies,1,8,5,4,1,...,0,"Kang, Yoonjung",hi,hi,hi,hi,hi,hi,hi,hi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2141,2021,Spring,UP,504,Urban History and Theory,11,10,3,4,1,...,0,"Novoa Echaurren, Magdalen",hi,hi,hi,hi,hi,hi,hi,hi
2142,2021,Spring,VM,603,Structure and Function II,0,41,0,0,56,...,0,"Ko, CheMyong",hi,hi,hi,hi,hi,hi,hi,hi
2143,2021,Spring,VM,604,Structure and Function III,0,39,0,0,53,...,0,"Foreman, Jonathan H",hi,hi,hi,hi,hi,hi,hi,hi
2144,2021,Spring,VM,608,Pathobiology III,0,16,0,0,50,...,0,"Barger, Anne M",hi,hi,hi,hi,hi,hi,hi,hi
2145,2021,Spring,VM,611,Medicine and Surgery III,0,15,0,0,58,...,0,"Fan, Timothy M",hi,hi,hi,hi,hi,hi,hi,hi

In [125]:
other_index = last_good_index = 0
invalids = []
for i, row in curr_raw_gpa_courses.iterrows():
    other_index = last_good_index
    last_name = row['Primary Instructor'].split(',')[0]
#     works = row['Year'] == filtered_offerings.iloc[other_index]['Year'] and row['Term'] == filtered_offerings.iloc[other_index]['Term'] and any([s.startswith(last_name) for s in filtered_offerings.iloc[other_index]['Instructors'].split(';')])
    while other_index < len(filtered_offerings):
        if row['Year'] == filtered_offerings.iloc[other_index]['Year'] and row['Term'] == filtered_offerings.iloc[other_index]['Term'] and any([s.startswith(last_name) for s in filtered_offerings.iloc[other_index]['Instructors'].split(';')]):
            break
        other_index += 1
    else:
        print(f'Error on {i}')
        invalids.append(i)
        continue
    curr_raw_gpa_courses.loc[i, 'CRN'] = filtered_offerings.iloc[other_index]['CRN']
    curr_raw_gpa_courses.loc[i, 'Description'] = filtered_offerings.iloc[other_index]['Description']
    curr_raw_gpa_courses.loc[i, 'Section'] = filtered_offerings.iloc[other_index]['Section']
    curr_raw_gpa_courses.loc[i, 'Start Time'] = filtered_offerings.iloc[other_index]['Start Time']
    curr_raw_gpa_courses.loc[i, 'End Time'] = filtered_offerings.iloc[other_index]['End Time']
    curr_raw_gpa_courses.loc[i, 'Days of Week'] = filtered_offerings.iloc[other_index]['Days of Week']
    curr_raw_gpa_courses.loc[i, 'Room'] = filtered_offerings.iloc[other_index]['Room']
    curr_raw_gpa_courses.loc[i, 'Building'] = filtered_offerings.iloc[other_index]['Building']
    last_good_index = other_index
curr_raw_gpa_courses = curr_raw_gpa_courses.drop(index=invalids)

Error on 1501

In [130]:
curr_raw_gpa_courses.columns

Index(['Year', 'Term', 'Subject', 'Number', 'Course Title', 'A+', 'A', 'A-',
       'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F', 'W',
       'Primary Instructor', 'CRN', 'Description', 'Section', 'Start Time',
       'End Time', 'Days of Week', 'Room', 'Building'],
      dtype='object')

In [127]:
curr_raw_gpa_courses.to_csv('processed/offerings.csv', index=False)

In [146]:
def compute_year_term(year, term, year_term):
    raw_gpa_courses = pd.read_csv('raw/uiuc-gpa-dataset.csv')
    raw_gpa_courses = raw_gpa_courses.drop(columns=['YearTerm', 'Sched Type'])
    curr_raw_gpa_courses = raw_gpa_courses[(raw_gpa_courses['Year'] == year) & (raw_gpa_courses['Term'] == term) & raw_gpa_courses['Primary Instructor'].notnull()].reset_index().drop(columns=['index'])
    
    raw_course_offerings = pd.read_csv(f'raw/course-explorer/{year_term}.csv')
    
    filtered_offerings = raw_course_offerings[raw_course_offerings['Instructors'].notnull()]
    attrs = ['Year', 'Term', 'Subject', 'Number', 'Name', 'Description', 'Credit Hours', 'Start Time', 'End Time', 'Days of Week', 'Room', 'Building', 'Instructors']
    filtered_offerings[attrs]
    
    curr_raw_gpa_courses['CRN'] = ['hi'] * len(curr_raw_gpa_courses)
    curr_raw_gpa_courses['Description'] = ['hi'] * len(curr_raw_gpa_courses)
    curr_raw_gpa_courses['Section'] = ['hi'] * len(curr_raw_gpa_courses)
    curr_raw_gpa_courses['Start Time'] = ['hi'] * len(curr_raw_gpa_courses)
    curr_raw_gpa_courses['End Time'] = ['hi'] * len(curr_raw_gpa_courses)
    curr_raw_gpa_courses['Days of Week'] = ['hi'] * len(curr_raw_gpa_courses)
    curr_raw_gpa_courses['Room'] = ['hi'] * len(curr_raw_gpa_courses)
    curr_raw_gpa_courses['Building'] = ['hi'] * len(curr_raw_gpa_courses)
    curr_raw_gpa_courses['Credit Hours'] = ['hi'] * len(curr_raw_gpa_courses)
    
    other_index = last_good_index = 0
    invalids = []
    for i, row in curr_raw_gpa_courses.iterrows():
        other_index = last_good_index
        last_name = row['Primary Instructor'].split(',')[0]
        while other_index < len(filtered_offerings):
            if row['Year'] == filtered_offerings.iloc[other_index]['Year'] and row['Term'] == filtered_offerings.iloc[other_index]['Term'] and any([s.startswith(last_name) for s in filtered_offerings.iloc[other_index]['Instructors'].split(';')]):
                break
            other_index += 1
        else:
#             print(f'Error on {i}, {year}:{term}')
            invalids.append(i)
            continue
        curr_raw_gpa_courses.loc[i, 'CRN'] = filtered_offerings.iloc[other_index]['CRN']
        curr_raw_gpa_courses.loc[i, 'Description'] = filtered_offerings.iloc[other_index]['Description']
        curr_raw_gpa_courses.loc[i, 'Section'] = filtered_offerings.iloc[other_index]['Section']
        curr_raw_gpa_courses.loc[i, 'Start Time'] = filtered_offerings.iloc[other_index]['Start Time']
        curr_raw_gpa_courses.loc[i, 'End Time'] = filtered_offerings.iloc[other_index]['End Time']
        curr_raw_gpa_courses.loc[i, 'Days of Week'] = filtered_offerings.iloc[other_index]['Days of Week']
        curr_raw_gpa_courses.loc[i, 'Room'] = filtered_offerings.iloc[other_index]['Room']
        curr_raw_gpa_courses.loc[i, 'Building'] = filtered_offerings.iloc[other_index]['Building']
        curr_raw_gpa_courses.loc[i, 'Credit Hours'] = filtered_offerings.iloc[other_index]['Credit Hours']
        last_good_index = other_index

    return curr_raw_gpa_courses.drop(index=invalids)

In [147]:
entries = [(2021, 'Spring', '2021-sp'), (2020, 'Fall', '2020-fa'), (2020, 'Spring', '2020-sp'), (2019, 'Fall', '2019-fa'), (2019, 'Spring', '2019-sp'), (2018, 'Fall', '2018-fa'), (2018, 'Spring', '2018-sp'), (2017, 'Fall', '2017-fa'), (2017, 'Spring', '2017-sp')]
end = pd.DataFrame([], columns=['Year', 'Term', 'Subject', 'Number', 'Course Title', 'A+', 'A', 'A-',
       'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F', 'W',
       'Primary Instructor', 'CRN', 'Description', 'Section', 'Start Time',
       'End Time', 'Days of Week', 'Room', 'Building', 'Credit Hours'])
for y,t,yt in entries:
    curr = compute_year_term(y,t,yt)
    end = pd.concat([end, curr])

In [153]:
offerings_cols = ['Year', 'Term', 'Subject', 'Number', 'A+', 'A', 'A-',
       'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F', 'W',
       'Primary Instructor', 'CRN', 'Section', 'Start Time',
       'End Time', 'Days of Week', 'Room', 'Building']
offerings = end[offerings_cols]
offerings.to_csv('processed/offerings.csv', index=False)

In [150]:
offerings

,Year,Term,Subject,Number,A+,A,A-,B+,B,B-,...,F,W,Primary Instructor,CRN,Section,Start Time,End Time,Days of Week,Room,Building
0,2021,Spring,AAS,100,14,9,0,2,2,0,...,0,0,"Boonsripaisal, Simon",30107,AD1,09:00 AM,09:50 AM,F,NaN,NaN
1,2021,Spring,AAS,100,12,8,1,2,0,2,...,3,0,"Boonsripaisal, Simon",30107,AD1,09:00 AM,09:50 AM,F,NaN,NaN
2,2021,Spring,AAS,100,0,13,8,1,3,0,...,1,0,"Guruparan, Akil",43832,AD3,10:00 AM,10:50 AM,F,NaN,NaN
3,2021,Spring,AAS,100,0,11,8,2,3,1,...,1,0,"Guruparan, Akil",43832,AD3,10:00 AM,10:50 AM,F,NaN,NaN
4,2021,Spring,AAS,100,1,8,5,4,1,1,...,2,0,"Kang, Yoonjung",48234,AD5,11:00 AM,11:50 AM,F,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260,2017,Spring,VCM,625,0,20,0,0,2,0,...,0,0,"Whittington, Julia K",45068,A,04:00 PM,05:50 PM,R,2258,Vet Med Basic Sciences Bldg
2261,2017,Spring,VM,603,0,40,0,0,99,0,...,0,0,"Ko, CheMyong",53067,AB1,10:00 AM,11:50 AM,TR,2251,Vet Med Basic Sciences Bldg
2262,2017,Spring,VM,604,0,15,0,0,78,0,...,0,0,"Coleman, David A",53069,AB1,10:00 AM,11:50 AM,TR,2251,Vet Med Basic Sciences Bldg
2263,2017,Spring,VM,608,0,16,0,0,66,0,...,0,0,"Solter, Philip F",55159,AB1,10:00 AM,11:50 AM,MW,NaN,NaN
2264,2017,Spring,VM,611,0,5,0,0,59,0,...,0,0,"Fan, Timothy M",57575,AL1,08:00 AM,11:50 AM,WF,100,Veterinary Teaching Hospital

In [151]:
courses_cols = ['Subject', 'Number', 'Description', 'Credit Hours']
courses = end.groupby(['Subject', 'Number']).first().reset_index()[courses_cols]
courses

,Subject,Number,Description,Credit Hours
0,AAS,100,Interdisciplinary introduction to the basic co...,3 hours.
1,AAS,105,Interdisciplinary introduction to the basic co...,3 hours.
2,AAS,120,Introductory understanding of the way U.S. pop...,3 hours.
3,AAS,200,Introductory understanding of the way U.S. pop...,3 hours.
4,AAS,211,Examination of Asian American artistic express...,3 hours.
...,...,...,...,...
2821,VM,610,"Teaches clinical skills, practices, and proced...",8 hours.
2822,VM,611,Teaches the practice of medicine and surgery o...,9.5 hours.
2823,VM,620,This lecture/discussion course examines the ev...,1 OR 3 hours.
2824,YDSH,220,Course will introduce the great Jewish storyte...,3 hours.
2825,YDSH,320,Course introduces a variety of Jewish literary...,3 hours.

In [154]:
courses.to_csv('processed/courses.csv', index=False)